@page "/not-found"
@layout MainLayout

<PageTitle>Not found - Dewey</PageTitle>

<div class="py-4">
    <h1>Not found</h1>
    <p>That page doesn't exist.</p>
    <a class="btn btn-primary" href="">Go home</a>
</div>
